node_modules
dist
.vscode-test
.env
*.local
*.local.json    
*.local.ts
*.local.js
*.local.tsx
*.local.jsx
*.local.js.map
*.local.ts.map

coverage
package-lock.json
yarn-error.log
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar.gz
*.tar
*.gz
